$primary:#F5F5F5;
$secondary: #24AAE1; // Buttons
$success: #11D000;
$info : #24AAE1;
$warning: #E2E9F6; // Darker primary (When hover)
$danger: #ED4C78;
$dark: #6299FD;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px
);

