<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="bg-primary">
        <section id="more-links bg-primary">

            <%= require('html-loader!./views/client-page/_links.html').default %> 
        </section>
        <section class="publishing-options">
            <%= require('html-loader!./views/client-page/_publiching-options.html').default %> 

        </section>
        <section id="partner-websites">
            <%= require('html-loader!./views/client-page/_partner-websites.html').default %> 
        </section>
        <section id="site-stat">
            <%= require('html-loader!./views/client-page/_site-numbers.html').default %>
            <%= require('html-loader!./views/client-page/_publishing-details.html').default %>
        </section>
    </main>
</body>
</html>