<div class="container">

    <div class="row my-5">
        <div class="col-12" >
            <div class="d-flex">
                <p class="text-nowrap">Find our more about:</p>
                <p>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span class="badge bg-white text-dark mx-1">Home Repair</span>
                    <span class="badge bg-white text-dark mx-1">Education</span>
                    <span class="badge bg-white text-dark mx-1">Marketing</span>
                    <span class="badge bg-white text-dark mx-1">Communication</span>
                </p>
            </div>
        </div>
       
    </div>
</div>