<div class="container my-5">
    <div class="row align-items-top justify-content-between border-start border-3 border-dark">
        <div class="col-12 col-md-8 ">
            <h2 class="display-6 fw-bold">Partner Websites <span>(29)</span></h2>
            <p class="lead">Choose the options below how you would like to publish your article on our website(s)
            </p>
        </div>
        <div class="col-12 col-md-4 align-end">
            <p class="text-end"> <span
                    class="badge bg-warning p-3 text-dark fs-5"><span>X</span>&nbsp;&nbsp;Filters</span></p>
        </div>
    </div>
    <!-- Form -->
    <div class="row mt-3 g-3">
        <div class="col-2">

            <div class="row">
                <div class="col">
                    DR
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <input type="text" class="form-control bg-primary">
                </div>
                <div class="col-1">-</div>
                <div class="col">
                    <input type="text" class="form-control bg-primary">
                </div>
            </div>
        </div>
        <div class="col-2">

            <div class="row">
                <div class="col">
                    DA
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <input type="text" class="form-control bg-primary">
                </div>
                <div class="col-1">-</div>
                <div class="col">
                    <input type="text" class="form-control bg-primary">
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="row g-3">
                <div class="col">Link Type</div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <select name="" id="" class="form-select bg-primary">
                        <option value="All">All</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-2">

            <div class="row g-3">
                <div class="col">
                    Price
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <input type="number" class="form-control bg-primary">
                </div>
                <div class="col-1">-</div>
                <div class="col">
                    <input type="number" class="form-control bg-primary" value="10000">
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="row g-3">
                <div class="col">TAT</div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <select name="" id="" class="form-select bg-primary">
                        <option value="All">All</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="row g-3">
                <div class="col">Link Stay</div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <select name="" id="" class="form-select bg-primary">
                        <option value="All">All</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-3 g-3">
            <div class="col-8">

                <div class="row g-3">
                    <div class="col">
                        Domain
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <input type="text" class="form-control bg-primary" placeholder="Website's Domain">
                    </div>

                </div>
            </div>

            <div class="col-2">
                <div class="row g-3">
                    <div class="col">Monthly Traffic</div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <select name="" id="" class="form-select bg-primary">
                            <option value="All">All</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="row g-3">
                    <div class="col-12">&nbsp;</div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                    <button type="submit" class="d-inline-block btn btn-secondary  w-100  text-white fw-bold">Apply</button> 
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>