<div class="container my-5">
    <div class="row align-items-top justify-content-between border-start border-3 border-dark">
        <div class="col-12 col-md-8 ">
            <h2 class="display-6 fw-bold">Publishing Option</h2>
            <p class="lead">Choose from the options below how you would like to publish your article on Article Factory:
            </p>
        </div>
        <div class="col-12 col-md-4 align-end">
            <h4 class="fw-bold text-end">
                <span>Balance:</span>
                <span>923 Credits</span>
            </h4>
        </div>
    </div>
    <div class="row bg-white g-3 mt-5">
        <div class="col my-3">
            <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center  rounded gap-3">
                <div class="d-flex flex-column site-mini-summary">
                    <div id="site-thumbnail">

                        <img class="img-fluid" src="../../../img/image.jpg" alt="">
                    </div>
                    <div id="site-stat" class="d-flex flex-row align-items-center">
                        <div id="publishing-options__fig-1" class=""></div>
                        <div id="publishing-options__fig-2"></div>
                        <div id="publishing-options__stat-1" class="mx-3 text-center">
                            <p class="fw-bolder">532K</p>
                            <p>Total Backlinks</p>
                        </div>
                        <div id="publishing-options__stat-1" class="mx-3 text-center">
                            <p class="fw-bolder">532K</p>
                            <p>Total Backlinks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-3">
            <div class="publish-card pt-5  card text-center bg-primary " style="min-height:340px; max-width:250px">
                <div class="card-body">
                    <h3 class="card-title fw-bold">1</h3>
                    <p class="card-text fw-bolder lead">Credits</p>
                    <a href="#" class="btn btn-secondary text-white fw-bolder">Publish</a>
                    <div class="border-top border-5 pt-3 mt-3">
                        <p class="lead my-0"><i class="bi bi-check"></i> 3 Nofollow Tasks</p>
                        <p class="lead my-0"><i class="bi bi-check"></i> 3 Nofollow Tasks</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="col my-3">
            <div class="publish-card pt-5 card text-center bg-primary " style="min-height:340px; max-width:250px">
                <div class="card-body">
                    <h3 class="card-title fw-bold">1</h3>
                    <p class="card-text fw-bolder lead">Credits</p>
                    <a href="#" class="btn btn-secondary text-white fw-bolder">Publish</a>
                    <div class="border-top border-5 pt-3 mt-3">
                        <p class="lead my-0"><i class="bi bi-check"></i> 3 Nofollow Tasks</p>
                        <p class="lead my-0"><i class="bi bi-check"></i> 3 Nofollow Tasks</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="col my-3">
            <div class="publish-card pt-5 card text-center bg-primary " style="min-height:340px; max-width:250px">
                <div class="card-body">
                    <h3 class="card-title fw-bold">1</h3>
                    <p class="card-text fw-bolder lead">Credits</p>
                    <a href="#" class="btn btn-secondary text-white fw-bolder">Publish</a>
                    <div class="border-top border-5 pt-3 mt-3">
                        <p class="lead my-0"><i class="bi bi-check"></i> 3 Nofollow Tasks</p>
                        <p class="lead my-0"><i class="bi bi-check"></i> 3 Nofollow Tasks</p>
                    </div>
                </div>

            </div>

        </div>
              <div class="col my-3">
            <div class="publish-card pt-5 card text-center bg-primary " style="min-height:340px; max-width:250px">
                <div class="card-body">
                    <h3 class="card-title fw-bold">1</h3>
                    <p class="card-text fw-bolder lead">Credits</p>
                    <a href="#" class="btn btn-secondary text-white fw-bolder">Publish</a>
                    <div class="border-top border-5 pt-3 mt-3">
                        <p class="lead my-0"><i class="bi bi-check"></i> 3 Nofollow Tasks</p>
                        <p class="lead my-0"><i class="bi bi-check"></i> 3 Nofollow Tasks</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>