<div class="container">
    <div class="row">
       <div class="col-lg-4"></div>
        <div class="col col-lg-2 border-decoration-theme align-middle text-center">
            <p class="lead m-0">1</p>
            <p class=" text-theme fs-6">Nofollow</p>
        </div>
        <div class="col col-lg-2 border-decoration-theme align-middle text-center">
            <p class="lead m-0">1</p>
            <p class=" text-theme fs-6">Nofollow</p>
        </div>
        <div class="col col-lg-2 border-decoration-theme align-middle text-center">
            <p class="lead m-0">1</p>
            <p class=" text-theme fs-6">Nofollow</p>
        </div>
        <div class="col col-lg-2 border-decoration-theme align-middle text-center">
            <p class="lead m-0">1</p>
            <p class=" text-theme fs-6">Nofollow</p>
        </div>
        
    </div>
</div>